@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HOME PAGE */
body {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --blue: rgb(3, 13, 39);
}

.home-page .container {
  max-width: 100vw;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 5px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 100;
}

.navbar.sticky {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar #titleTab {
  position: relative;
}

.navbar #tool {
  position: absolute;
  color: var(--blue);
  z-index: 800;
  top: -13px;
}

.navbar #conference-name {
  color: var(--blue);
  font-size: 25px;
  z-index: 400;
}

#bars {
  margin-right: -25px;
  font-size: 25px;
  color: black;
  z-index: 900;
  display: none;
}

li {
  list-style: none;
  display: inline-block;
  padding: 0 7px;
}

li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--blue);
  font-weight: bold;
}

#navbar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 15px 0;
}

#navbar li {
  padding: 0 15px;
}

.conference-info {
  margin-top: 150px;
  position: absolute;
  padding: 0 40px;
}

.conference-info #bicycle {
  display: none;
}

.conference-info-text {
  margin-top: 70px;
  max-width: 30vw;
}

.conference-info-text p {
  color: var(--blue);
}

.conference-info-text h1 {
  font-size: 60px;
  color: var(--blue);
  text-shadow: 1px 1px 2px #000000;
}

#image {
  position: absolute;
  right: 0px;
  bottom: 0px;

  width: 600px;
  height: 100%;
  object-fit: cover;
}

#bars {
  color: var(--blue);
  padding: 25px;
}

#navigation #bicycle {
  padding: 15px;
  font-size: 30px;
}

#firstLetter {
  position: relative;
}

#times {
  display: none;
  color: var(--blue);
  font-size: 25px;
}

.mobileNavbar {
  display: none;
}



#linkTag{
  text-decoration: none;
  color: unset;
}
/* HOME PAGE */
@media (max-width: 1000px) {
  .conference-info-text h1 {
    font-size: 50px;
  }

  #image {
       width: 60%;
    /* height: 50%; */
    object-fit: cover;
  }
}

@media (max-width: 860px) {
  #navbar {
    display: none;
  }

  #image {
    position: absolute;
    right: 0px;
    bottom: 0px;

    width: 100%;
    height: 40%;
    object-fit: cover;
  }

  .conference-info {
    margin-top: 150px;
    position: absolute;
    padding: 0 40px;
    text-align: center;
  }

  .conference-info #bicycle {
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
  }

  .conference-info-text {
    max-width: 100%;
    margin-top: 0px;
  }
  
  .conference-info-text p {
    color: var(--blue);
  }

  .conference-info-text h1 {
    font-size: 35px;
    color: var(--blue);
    text-shadow: 1px 1px 2px #000000;
  }

  /*  */

  .mobileNavbar {
    display: block;
    background-color: rgb(3, 13, 39);
    position: fixed;
    z-index: 1000;
    height: 100vh;
    top: 0;
    width: 300px;
    transform: translateX(-300px);
    transition: ease-in-out 0.5s;
    padding-left: 20px;
  }

  #bars {
    display: block;
    cursor: pointer;
  }

  #navigation #bicycle {
    display: none;
  }

  .mobileNavbar.active {
    /* display: block; */
    transform: translateX(0);
  }

  .mobileNavbar .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobileNavbar .xMark {
    font-size: 30px;
    color: white;
    transform: translateY(24px);
    margin-right: 15px;
    cursor: pointer;
  }

  .mobileNavbar #titleTab {
    position: relative;
    margin-top: 50px;
    /* left: -35px; */
  }

  .mobileNavbar #tool {
    position: absolute;
    /* transform: translateY(-58px); */
    color: white;
    z-index: 800;
    top: -15px;
  }

  .mobileNavbar #conference-name {
    color: white;
    font-size: 25px;
    z-index: 400;
  }

  .mobileNavbar li {
    font-weight: bold;
    color: white;
    margin-top: 50px;
    letter-spacing: 0.5px;
    width: 230px;
    position: relative;
    cursor: pointer;
    transition: ease-in 0.5s;
  }

  .mobileNavbar li:hover {
    color: rgb(177, 142, 67);
  }

  /* .mobileNavbar li:hover {
    color: var(--creamish);
  } */

  .mobileNavbar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-top: 50px;
  }

  .mobileNavbar .callNow {
    display: flex;
    align-items: center;
    /* margin-left: 30px; */
    margin-top: 50px;
  }

  .mobileNavbar .callNow .number {
    margin: 0 10px;
    color: white;
  }

  .mobileNavbar .number p:last-of-type {
    color: white;
    transition: ease-in-out 0.5s;
  }
}


@media (max-height: 700px) {

  .conference-info {
    margin-top: 110px;
    position: absolute;
    padding: 0 40px;
  }


}